assembly/
binning/
annotation/
taxonomy/
# Ignorar todo dentro de /trim/
trim/*

# Exceptuar fastqc_before y fastqc_after
!trim/fastqc_before/
!trim/fastqc_after/
mapping/
reads/
krona/
#!krona/CT_FKDN25H000391-1A_22NWHGLT4_L5_krona.out.html
*.html.files/
.Rhistory
.RData
.Rproj.user/
